@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #191f28;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Pretendard Variable', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

h1 {
  letter-spacing: -0.02em;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

h2 {
  letter-spacing: -0.01em;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

h4 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

p {
  font-size: 0.9375rem;
  line-height: 1.7;
}

button {
  font-family: inherit;
}

code {
  font-family: 'SF Mono', Monaco, 'Cascadia Code', 'Roboto Mono', Consolas, 'Courier New', monospace;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.3;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
  }
}
